{% extends "layout.html" %}
{% block body %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4 text-center">Insert Item</h1>
        <script src="https://cdn.jsdelivr.net/npm/@undecaf/zbar-wasm@0.9.15/dist/index.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@undecaf/barcode-detector-polyfill@0.9.21/dist/index.js"></script>

        <script>
            async function initBarcodeScanner() {
                try {
                    window['BarcodeDetector'].getSupportedFormats();
                } catch {
                    window['BarcodeDetector'] = barcodeDetectorPolyfill.BarcodeDetectorPolyfill;
                }

                const video = document.querySelector('video');
                try {
                    video.srcObject = await navigator.mediaDevices.getUserMedia({
                        video: {
                            facingMode: 'environment',
                            width: { ideal: 640 },
                            height: { ideal: 480 }
                        }
                    });
                } catch (err) {
                    console.error("Error accessing the camera: ", err);
                    alert("Error accessing the camera. Please check your permissions.");
                    return;
                }

                const barcodeDetector = new BarcodeDetector({ formats: ["ean_13", "ean_8", "upc_a", "upc_e"] });

                async function detectBarcode() {
                    try {
                        let barcodes = await barcodeDetector.detect(video);

                        if (barcodes.length > 0) {
                            const barcodeValue = barcodes[0].rawValue;
                            document.getElementById("scanner-info").innerText = `Detected barcode: ${barcodeValue}`;
                            document.getElementById("barcode").value = barcodeValue;
                            navigator.vibrate(200);
                            handleBarcodeChange(barcodeValue);
                        } else {
                            requestAnimationFrame(detectBarcode);
                        }
                    } catch {
                        requestAnimationFrame(detectBarcode);
                    }
                }

                requestAnimationFrame(detectBarcode);
            }

            function handleBarcodeChange(barcode) {
                fetch(`{{ url_for('api_item', barcode='') }}${barcode}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("video").style.display = 'none';
                        if (data.image_front_small || data.image_url) {
                            let img = document.createElement('img');
                            if (data.image_url) {
                                document.getElementById("scanner-info").innerText += '\n - Already in database!';
                                document.getElementById("scanner-info").innerHTML += `<br><a href="{{ url_for('edit', id='') }}${data.id}">Edit item</a>`;
                                img.src = data.image_url;
                            }
                            else {
                                document.getElementById("scanner-info").innerText += '\n - Not in database!';
                                img.src = data.image_front_small;
                            }
                            img.alt = "Suggested item image";
                            document.querySelector('.video_show').appendChild(img);
                        }
                        if (data.name) {
                            document.querySelector('input[name="name"]').value = data.name;
                            let text = document.createElement('p');
                            text.innerHTML = data.name;
                            document.querySelector('.video_show').appendChild(text);
                        }
                        if (data.quantity) {
                            document.querySelector('input[name="quantity"]').value = data.quantity;
                            let text = document.createElement('p');
                            text.innerHTML = data.quantity;
                            document.querySelector('.video_show').appendChild(text);
                        }
                        if (data.expiry_date) {
                            document.querySelector('input[name="expiry_date"]').value = data.expiry_date;
                            let text = document.createElement('p');
                            text.innerHTML = data.expiry_date;
                            document.querySelector('.video_show').appendChild(text);
                        }
                        if (data.expire_type) {
                            document.querySelector('select[name="expire_type"]').value = data.expire_type;
                            let text = document.createElement('p');
                            text.innerHTML = data.expire_type;
                            document.querySelector('.video_show').appendChild(text);
                        }

                    })
                    .catch(error => console.error('Error fetching item data:', error));
            }

            function reactivateScanner() {
                document.getElementById("video").style.display = 'block';
                initBarcodeScanner();
            }

            window.onload = initBarcodeScanner;

            document.addEventListener('DOMContentLoaded', () => {
                const barcodeInput = document.querySelector('input[name="barcode"]');
                barcodeInput.addEventListener('blur', (event) => {
                    if (event.target.value === '') {
                        reactivateScanner();
                    } else {
                        handleBarcodeChange(event.target.value);
                    }
                });

                document.getElementById('reactivate-scanner').addEventListener('click', reactivateScanner);
            });
        </script>
        {% if error %}
            <p class="text-red-500 text-center"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        <div class="video_show mb-4 flex justify-center"></div>
        <div class="flex justify-center">
            <video autoplay id="video" playsinline class="w-1/2 h-auto"></video>
        </div>
        <form method="post" action="{{ url_for('add_item') }}" enctype="multipart/form-data" class="space-y-4 max-w-lg mx-auto">
            {{ form.csrf_token }}
            <p id="scanner-info" class="text-gray-700 text-center">Scanner information will be shown here</p>
            <div class="flex items-center space-x-2">
                <label for="barcode" class="block text-sm font-medium text-gray-700">{{ form.barcode.label }}</label>
                {{ form.barcode(class="form-input mt-1 block w-full") }}
                <button id="reactivate-scanner" type="button" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded">Reactivate Scanner</button>
            </div>
            <div>
                <label for="name" class="block text-sm font-medium text-gray-700">{{ form.name.label }}</label>
                {{ form.name(class="form-input mt-1 block w-full") }}
            </div>
            <div>
                <label for="quantity" class="block text-sm font-medium text-gray-700">{{ form.quantity.label }}</label>
                {{ form.quantity(class="form-input mt-1 block w-full") }}
            </div>
            <div>
                <label for="expire_type" class="block text-sm font-medium text-gray-700">{{ form.expire_type.label }}</label>
                {{ form.expire_type(class="form-select mt-1 block w-full") }}
            </div>
            <div>
                <label for="expiry_date" class="block text-sm font-medium text-gray-700">{{ form.expiry_date.label }}</label>
                {{ form.expiry_date(class="form-input mt-1 block w-full") }}
            </div>
            <div>
                <input type="submit" value="Submit" class="px-4 py-2 bg-green-500 text-white rounded">
            </div>
        </form>

        <p class="mt-4 text-center"><a href="{{ url_for('index') }}" class="text-blue-500">Back to index</a></p>
    </div>
{% endblock %}