
{% extends "layout.html" %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/@undecaf/zbar-wasm@0.11.0/dist/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@undecaf/barcode-detector-polyfill@0.9.21/dist/index.js"></script>
    <script>
            async function initBarcodeScanner() {
                try {
                    window['BarcodeDetector'].getSupportedFormats();
                } catch {
                    window['BarcodeDetector'] = barcodeDetectorPolyfill.BarcodeDetectorPolyfill;
                }

                const video = document.querySelector('video');
                try {
                    video.srcObject = await navigator.mediaDevices.getUserMedia({
                        video: {
                            facingMode: 'environment',
                            width: { ideal: 640 },
                            height: { ideal: 480 }
                        }
                    });
                } catch (err) {
                    console.error("Error accessing the camera: ", err);
                    alert("Error accessing the camera. Please check your permissions.");
                    return;
                }

                const barcodeDetector = new BarcodeDetector({ formats: ["ean_13", "ean_8", "upc_a", "upc_e"] });

                async function detectBarcode() {
                    try {
                        let barcodes = await barcodeDetector.detect(video);

                        if (barcodes.length > 0) {
                            const barcodeValue = barcodes[0].rawValue;
                            document.getElementById("scanner-info").innerText = `Detected barcode: ${barcodeValue}`;
                            console.log(`Barcode detected: ${barcodeValue}`);
                            document.getElementById("barcode").value = barcodeValue;
                            handleBarcodeChange(barcodeValue);
                        } else {
                            requestAnimationFrame(detectBarcode);
                        }
                    } catch {
                        requestAnimationFrame(detectBarcode);
                    }
                }

                requestAnimationFrame(detectBarcode);
            }

function handleBarcodeChange(barcode) {
    console.log(`Barcode detected: ${barcode}`);
    fetch(`{{ url_for('api_item', barcode='') }}${barcode}`)
        .then(response => {
            console.log('Response received:', response);
            return response.json();
        })
        .then(data => {
            const video = document.getElementById("video");
            video.style.display = 'none';
            const stream = video.srcObject;
            if (stream) {
                const tracks = stream.getTracks();
                tracks.forEach(track => {
                    track.stop();
                });
                video.srcObject = null;
            } else {
                console.warn('No stream to stop');
            }

            const scannerInfo = document.getElementById("scanner-info");
            scannerInfo.innerText = `Detected barcode: ${barcode}`;
            console.log('Data received:', data);
            if (data.image_front_small || data.image_url) {
                let img = document.createElement('img');
                if (data.image_url) {
                    scannerInfo.innerText += '\n - Already in database!';
                    scannerInfo.innerHTML += `<br><a href="{{ url_for('edit', id='') }}${data.id}">Edit item</a>`;
                    img.src = data.image_url;
                } else {
                    scannerInfo.innerText += '\n - Not in database!';
                    img.src = data.image_front_small;
                }
                img.alt = "Suggested item image";
                document.querySelector('.video_show').appendChild(img);
            }

            if (data.name) {
                document.querySelector('input[name="name"]').value = data.name;
                let text = document.createElement('p');
                text.innerHTML = data.name;
                document.querySelector('.video_show').appendChild(text);
            }
            if (data.quantity) {
                document.querySelector('input[name="quantity"]').value = data.quantity;
                let text = document.createElement('p');
                text.innerHTML = data.quantity;
                document.querySelector('.video_show').appendChild(text);
            }
            if (data.expiry_date) {
                document.querySelector('input[name="expiry_date"]').value = data.expiry_date;
                let text = document.createElement('p');
                text.innerHTML = data.expiry_date;
                document.querySelector('.video_show').appendChild(text);
            }
            if (data.expire_type) {
                document.querySelector('select[name="expire_type"]').value = data.expire_type;
                let text = document.createElement('p');
                text.innerHTML = data.expire_type;
                document.querySelector('.video_show').appendChild(text);
            }

        })
        .catch(error => console.error('Error fetching item data:', error));
}

            function reactivateScanner() {
                document.getElementById("video").style.display = 'block';
                document.querySelector('.video_show').innerHTML = '<video id="video" preload="auto" autoplay="" loop="" height="100%" width="100%"></video>';
                initBarcodeScanner();
            }

            window.onload = initBarcodeScanner;

            document.addEventListener('DOMContentLoaded', () => {
                const barcodeInput = document.querySelector('input[name="barcode"]');
                barcodeInput.addEventListener('blur', (event) => {
                    if (event.target.value === '') {
                        reactivateScanner();
                    } else {
                        handleBarcodeChange(event.target.value);
                    }
                });

                document.getElementById('reactivate-scanner').addEventListener('click', reactivateScanner);
            });
        </script>
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Add Item</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Scanner</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col video_show"><video id="video" preload="auto" autoplay="" loop="" height="100%" width="100%"></video></div>
                                <div class="col">
                                    <p id="scanner-info">Scanner info...</p>
                                    <button id="reactivate-scanner" class="btn btn-secondary" type="button">Reactivate Scanner</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Item Details</p>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{{ url_for('add_item') }}" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                {{ form.barcode.label }} {{ form.barcode(class="form-control", id="barcode") }}
                                {{ form.name.label }} {{ form.name(class="form-control") }}
                                {{ form.quantity.label }} {{ form.quantity(class="form-control") }}
                                {{ form.expire_type.label }} {{ form.expire_type(class="form-control") }}
                                {{ form.expiry_date.label }} {{ form.expiry_date(class="form-control") }}
                                <button class="btn btn-primary" type="button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
{% endblock %}