{% extends "layout.html" %}
{% block body %}
    <style>
    /* Ensure the checkbox is visible */
input[type="checkbox"] {
    display: inline-block;
    padding: 0;
    visibility: visible;
    opacity: 1 !important;
    pointer-events: auto !important;
}
    </style>
 <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 col-xl-12 col-xxl-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Login</h4>
                                    </div>
                                    <form class="user" method="post" action="{{ url_for('login') }}" enctype="multipart/form-data">
                                        {{ form.csrf_token }}
                                        <div class="mb-3">
                                            {{ form.username(class="form-control form-control-user", placeholder=form.username.name) }}
                                            {% if form.username.errors %}
                                                <div class="text-danger small mt-1">
                                                    {% for error in form.username.errors %}
                                                        <div>{{ error }}</div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password(class="form-control form-control-user", placeholder=form.password.name) }}
                                            {% if form.password.errors %}
                                                <div class="text-danger small mt-1">
                                                    {% for error in form.password.errors %}
                                                        <div>{{ error }}</div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="mb-3">
                                            <div class="custom-checkbox small">
                                                <div class="form-check">
                                                    {{ form.persist(class="form-check-input", id="formCheck-1") }}
                                                    <label class="form-check-label" for="formCheck-1">{{ form.persist.label }}</label></div>
                                            </div>
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                                        <hr>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}ys